{% extends 'base.html.twig' %}

{% block title %}
        Garage V. Parrot - Mentions légales
{% endblock %}

{% block body %}
        <div class="container-fluid mb-4">
        <h1> Mentions légales</h1>
        <div>Le présent site est édité par Monsieur Vincent Parrot, société française, 
        dont le siège social est situé à 45 Avenue du 8 mai 1945, 31000 Toulouse, 
        immatriculée au Registre du Commerce et des Sociétés de Toulouse, et représentée par Monsieur Vincent Parrot.
        </div>
<br>
        <div class="titleLegal">Directeur de la publication :</div>
        <div>
        Monsieur Vincent Parrot
        </div>
<br>
        <div class="titleLegal">Contact :</div>
        <div>- Adresse e-mail : vincentparrot@garagevparrot.fr<br>
        - Téléphone : 01.23.45.67.89
        </div>
<br>
        <div class="titleLegal">Propriété intellectuelle :</div>
        <div>Le contenu de ce site web, y compris les textes, les images, les vidéos, les logos et les autres éléments multimédias, 
        est la propriété exclusive de Monsieur Vincent Parrot ou de ses partenaires et est protégé par les lois relatives à la propriété intellectuelle. 
        Toute reproduction, représentation, modification, distribution ou exploitation totale ou partielle de ce contenu, par quelque moyen que ce soit, 
        sans l'autorisation préalable et écrite de Monsieur Vincent Parrot est strictement interdite et peut constituer 
        une violation des droits d'auteur et des droits de propriété intellectuelle.
        </div>
<br>
        <div class="titleLegal">Responsabilité :</div>
        <div>Monsieur Vincent Parrot s'efforce de fournir des informations précises et à jour sur ce site web, 
        mais ne garantit pas l'exactitude, l'exhaustivité ou la pertinence des informations fournies. 
        En conséquence, Monsieur Vincent Parrot décline toute responsabilité en cas d'erreurs ou d'omissions 
        dans les informations fournies sur ce site. L'utilisation des informations fournies sur ce site se 
        fait sous la seule responsabilité de l'utilisateur.
        </div>
<br>
        <div class="titleLegal">Protection des données personnelles :</div>
        <div>Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers 
        et aux libertés, les utilisateurs disposent d'un droit d'accès, de rectification, de modification et de 
        suppression des données les concernant. Pour exercer ce droit, veuillez contacter Monsieur Vincent Parrot
        à l'adresse vincentparrot@garagevparrot.fr.
        </div>
<br>
        <div class="titleLegal">Cookies :</div>
        <div>Ce site utilise des cookies pour améliorer l'expérience utilisateur. En naviguant sur ce site, 
        vous acceptez l'utilisation de cookies conformément à notre politique en matière de cookies.
        </div>
<br>
        <div class="titleLegal">Loi applicable et juridiction compétente :</div>
        <div>Les présentes mentions légales sont régies par le droit français. En cas de litige concernant l'interprétation 
        ou l'exécution des présentes mentions légales, les tribunaux français seront seuls compétents.
        </div>
    </div>
{% endblock %}