{% extends 'base.html.twig' %}

{% block title %}
        Garage V. Parrot - Politique de confidentialité et RGPD
{% endblock %}

{% block body %}
        <div class="container-fluid mb-4">
        <h1>Politique de Confidentialité et RGPD</h1>
        <div>Chez GarageVParrot, nous nous engageons à protéger la confidentialité et la sécurité des données personnelles de nos clients. 
        Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons les informations 
        que vous nous fournissez lorsque vous utilisez nos services ou visitez notre site web.
        </div><br>
        <div class="titleLegal">Collecte d'Informations
        </div>
        <div>Lorsque vous visitez notre site web ou utilisez nos services, nous pouvons collecter les types d'informations suivants :<br>
        - Informations Personnelles :<br>
        Nous pouvons collecter des informations telles que votre nom, votre adresse e-mail, 
        votre numéro de téléphone, votre adresse postale et d'autres informations que vous choisissez de nous fournir 
        lorsque vous prenez rendez-vous, demandez un devis ou utilisez nos services.<br>
        - Informations de Navigation :<br>
        Nous pouvons collecter des informations sur votre navigateur, votre adresse IP, les pages que 
        vous consultez sur notre site web, ainsi que les liens sur lesquels vous cliquez.
        </div><br>
        <div class="titleLegal">Utilisation des Informations
        </div>
        <div>Nous utilisons les informations collectées à des fins telles que :
        - Répondre à vos demandes de renseignements et de rendez-vous.<br>
        - Fournir des services et des informations liés à l'entretien et à la réparation automobile.<br>
        - Améliorer notre site web et nos services.<br>
        - Vous informer des promotions, des offres spéciales et des événements.<br>
        </div><br>
        <div class="titleLegal">Protection des Données
        </div>
        <div>Nous prenons des mesures de sécurité pour protéger vos données personnelles contre tout accès non autorisé, 
        utilisation, altération ou destruction. Nos systèmes informatiques sont protégés par des pare-feu, 
        des dispositifs de détection d'intrusion et d'autres mesures de sécurité avancées.
        </div><br>
        <div class="titleLegal">Partage des Données
        </div>
        <div>Nous ne vendons, ne louons ni ne partageons vos informations personnelles avec des tiers, sauf dans les cas suivants :<br>
        - Avec votre consentement explicite.<br>
        - Lorsque cela est nécessaire pour fournir nos services (par exemple, partager vos informations avec nos 
        partenaires de services pour la réparation automobile).<br>
        - Lorsque la loi l'exige ou le permet.<br>
        </div><br>
        <div class="titleLegal">Vos Droits
        </div>
        <div>Vous avez le droit de :<br>
        - Accéder à vos données personnelles et les corriger si elles sont inexactes.<br>
        - Demander la suppression de vos données personnelles.<br>
        - Vous opposer au traitement de vos données personnelles à certaines fins.<br>
        </div><br>
        <div class="titleLegal">Contactez-nous
        </div>
        <div>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou notre conformité RGPD, 
        veuillez nous contacter à l'adresse suivante : vincentparrot@garagevparrot.fr    
        </div><br>        
        </div>
{% endblock %}