* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #262526;
}

a {
  color: initial;
  text-decoration: none;
}
