// colors
$color-red: #D92332;
$color-lightRed: #D94350;
$color-light: #D9777F;
$color-black: #262526;
$color-white: #F2F2F2;

// fonts
$font-family-barlow: 'Barlow', sans-serif;
$font-family-rajdhani: 'Rajdhani', sans-serif;

// flux
$margin: 1rem;
$padding: 1rem;
$font-size: 1rem;
$font-style: italic;
$text-align: center;