// assets/styles/global.scss


// customize some Bootstrap variables
$primary: #D92332;
$secondary: #262526;
$info: #D9777F;
$ligth: #F2F2F2;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// general
body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
}

// home
.homePage {
  background: url('../images/home.jpg') no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
}

.letter-space {
  letter-spacing: 0.05em;
  line-height: 2em;
}

.custom-h1,
.custom-blockquote {
  color: $primary;
}

.custom-blockquote {
  font-style: italic;
  color: $secondary;
  text-align: center;
}

.custom-h1 {
  font-size: 4rem;
}

.card-title {
  font-weight: bold;
}

// header
header,
.btn-contact {
  box-shadow: 0px 0px 5px #D9777F;
}

.navbar,
h1,h2,h3,h5,
.footer-local-owner {
  font-family: 'Rajdhani', sans-serif;
}

.nav-link,
.footer-local-owner {
  color: $primary;
}

.nav-link:hover {
  color: $primary;
  text-decoration: underline;
  font-weight: bold;
}

// rate
.rate {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
}

.rate input[type="radio"] {
  display: none;
}

.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate > input:checked ~ label {
  color: #ffc700;    
}

.rate.enabled:not(:checked) > label:hover,
.rate.enabled:not(:checked) > label:hover ~ label {
  color: #deb217;  
}

.rate.enabled > input:checked + label:hover,
.rate.enabled > input:checked + label:hover ~ label,
.rate.enabled > input:checked ~ label:hover,
.rate.enabled > input:checked ~ label:hover ~ label,
.rate.enabled > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.reviewContainer, 
#review_review {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

// carousel
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $primary;
  border-radius: 50%;
}

.rate > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor: default;
  font-size:30px;
  color:#ccc;
}

.rate > label.filled,
.rate > label.filled ~ label {
  color: #ffc700;
}

// footer
.footer-local-owner,
.footer-hours {
  font-weight: bold;
}

.icon-fa {
  width: 20px;
  height: auto;
}

.nav-hours {
  list-style: none;
  font-size: 1rem;
}

.footer-day {
  font-weight: bold;
}

.footer-hour {
  font-weight: initial;
  margin-left: 1em;
}

.footer-local {
  margin-left: 3em;
}

a[href^="mailto"],
a[href^="tel"] {
  text-decoration: none;
  color: initial;
}

a[href^="mailto"]:hover,
a[href^="tel"]:hover {
  color: $primary;
}

// page services
.navBarServicesLink,
.navBarServicesLink > a {
  text-decoration: none;
  list-style: none;
}

.customParagraph {
  text-indent: 1rem;
  line-height: 1.6;
}

// page cars
p.showCarDetails {
  text-align: center;
  background-color: $light;
  color: #D94350;
}

//page register
.customCheckbox {
  margin-left: 1rem;
}

//page legal
.titleLegal {
  font-weight: bold;
}

