{% extends 'base.html.twig' %}

{% block title %}
    Garage V. Parrot - Modification de l'utilisateur
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Modification de l'utilisateur</h1>
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-md-8 mx-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}