{% extends 'base.html.twig' %}

{% block title %}Garage V. Parrot - Modification du mot de passe{% endblock %}

{% block body %}
    <h1>Modification du mot de passe</h1>

    {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        <button class="btn btn-primary mt-4">Changer</button>
    {{ form_end(form) }}
{% endblock %}
